:root{
    --color-secondary: #27ae95;
}

.login_card_prev
{
    animation: formAnimation 1.5s ease;
}
@keyframes formAnimation {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

.login.card-body{
    border-radius: 50px;
}
.login_card{
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login_head{
    width: 100%;
    align-items: center;
}
.login_heading{
    color : var(--color-secondary);
    font-size: 1.5em;
    font-weight: bold;
    
}
.login_sec_head{
  margin-left: 165px;
}
.login_input:focus{
    border-color: #27ae95;
    animation: inputfocusanimation 0.3s;
}
@keyframes inputfocusanimation{
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.05);
    }
    100%{
      transform: scale(1);
    }
  }

.login_submit{
    background-color: var(--color-secondary);
    border:none;
}
.login_register_link{
    color: #27ae95;
}

@media screen and (max-width: 391px) {

  .login_sec_head{
    margin-left: 135px;
  }
}